@import "tailwindcss";

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #f5f7fa;
  color: #2f3640;
  scrollbar-width: none;
}

.header {
  width: 100%;
  background-color: #fff;
  color: #2f3640;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.096);
  position: sticky;
  top: 0;
}

/* Promo Bar */
.promo-bar {
  background-color: #1e2a38;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
}

/* Header Main Section */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo span {
  color: #e74c3c;
}

/* Header Icons */
.header-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  color: #e74c3c;
  transform: scale(1.1);
}

/* SideBar Component */
.side-menu {
  width: 20%;
  background: #1e2a38;
  color: #fff;
  padding: 20px;
  height: 100vh;
}

.side-menu ul {
  list-style: none;
}

.side-menu h1 {
  color: #e74c3c;
}

.side-menu button {
  border: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in;
}

.side-menu button:hover {
  background-color: #2f3640;
  width: 60%;
}

.sales-channel,
.side-main {
  margin: 0;
}

.sales-channel p,
.side-main p {
  color: gray;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  width: 100%;
  background-color: #2f3640;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

span {
  color: #fff;
}

/* Dashboard Component */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.cards {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sub-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* StatCard Component */
.stat-card {
  background: #fff;
  padding-left: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  /* line-height: 10px; */
}

.stat-card .profit {
  color: #2ecc71;
}

.stat-card .loss {
  color: #e74c3c;
}

.stat-card h2 {
  font-size: 20px;
}

/* Revenue Component */
.revenue-chart {
  width: 60%;
  background-color: #fff;
  padding: 0px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Product Table Component */
.export {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
}


.searchbar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 250px;
}

.searchbar input[type="text"]:focus {
  outline: none;
}

.export button {
  color: #e74c3c;
  font-size: 13px;
  border: none;
  background: transparent;
  font-weight: bold;
  margin: 8px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 14px;
  /* border: 1px solid yellow; */
}

table th {
  background-color: #f9f9f9;
}

table th,
table td {
  border: none;
  padding: 15px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Pie Chart */
.doughnut-chart {
  width: 30%;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
}

.banner {
  background-image: url(./assets/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg);
  height: 100px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.425);
  background-blend-mode: color-dodge;
}

.banner img {
  width: 300px;
  height: 300px;
}

.property-card {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
  background-color: #fff;
  max-width: 400px;
}

.property-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

.property-name {
  font-weight: 600;
  line-height: 1.1;
  color: #2f3640;
  margin: 10px 0;
  font-size: 14px;
}

.property-description {
  font-size: 13px;
  line-height: 1.1;
}

.property-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.property-price {
  color: #e74c3c;
  font-size: 13px;
}

.property-button {
  background-color: #ccc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: #1e2a38;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;

}

.register-form,
.login-form {
  text-align: center;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  width: 500px;
  /* max-width: 400px; */
}

.register-form h2,
.login-form h2 {
  margin-bottom: 10px;
  color: #1361cf;
  font-weight: 600;
  font-size: 34px;
}

.agreement {
  color: gray;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms,
.remember {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.input-text,
form input[type="email"],
form input[type="password"],
form input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin: 8px 0;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #1361cf;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
  font-weight: 600;
}

form button:hover {
  background-color: #3077da;
}

form p {
  font-size: 12px;
  color: gray;
  font-weight: 600;
  cursor: pointer;
}

p a {
  color: #1361cf;
  cursor: pointer;
}

.auth {
  background-image: url("src/assets/—Pngtree—abstract blue background with smooth_15505491.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.247);
  background-blend-mode: darken;
  padding: 50px 30px;
  gap: 30px;

}

.welcome-message {
  color: #fff;
  max-width: 500px;
  text-align: center;
}

.welcome-message h3 {
  font-size: 36px;
}

.welcome-message p {
  font-size: 16px;
  line-height: 1.2;
  color: #e0e0e0;
}

.children {
  overflow-y: scroll;
  width: 80%;
  scrollbar-width: none;
  height: 100vh;
}

.menu {
  display: none;
}

.mini-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.mini-card .like {
  font-size: 22px;
  transition: transform 0.5s ease-in-out;
  color: lightgray;
  text-shadow: 2px 2px 4px black;
}

.like:hover {
  transform: scale(1.1);
}

.mini-card .liked {
  font-size: 22px;
  color: #e74c3c;
  transition: transform 0.5s ease-in-out;

}

.watchlist-number {
  color: #e74c3c;
  font-weight: bolder;
  /* text-shadow: 2px 2px 2px black; */
}

.grid {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  padding: 20px;
  gap: 20px;
}

.cart{
  position: relative;
}
.cart span{
  position: absolute;
  right: -4px;
  top: -10px;
}

/* Responsive */
@media (max-width: 768px) {
  .header-main {
    padding: 12px 20px;
  }

  .logo h2 {
    font-size: 22px;
  }

  .header-icons {
    gap: 15px;
    display: none;
  }

  .icon {
    font-size: 18px;
  }

  .side-menu {
    display: none;
  }

  .children {
    width: 100%;
  }

  .mobile-menu .header-icons {
    display: flex;
  }

  .welcome-message {
    display: none;
  }

  /* 
  .auth{
    flex-direction: column;
  } */
}